{% extends "layout.html" %}
{% block title %}
<title>Techjob - {{ job.get('title') }}</title>
{% endblock title %}

{% block link_github %}
    https://github.com/vuonglv1602/techjob
{% endblock%}

{% block quote %}
<div class="row mt-5">
    <div class="col-md text-center">
        <h4 class="border-bottom">
            {{ job.get('title') }}
        </h4>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header text-center bg-dark text-light">
            Job Description
        </div>
        <div id="job_description" class="card-text px-3" style="max-width: 100%;">
            {{ job.get('description') }}
        </div>
    </div>
{% endblock content %}