{% extends "layout.html" %}
{% block title %}
    <title>TechJob - Job</title>
{% endblock title %}

{% block link_github %}
    https://github.com/vuonglv1602/techjob
{% endblock%}

{% block content %}
    {% for job in jobs %}
    <div class="col-md-12 job-content p-md-3">
        <div class="col-12">
            <div class="row">
                <h5 class="job-title text-md-justify font-weight-bold"><a href="/description/{{ job.get('id') }}">{{ job.get('title') }}</a></h5>
            </div>
            <div class="row description">
                <div class="col-sm-6 p-0"><h6>Publisher: <a class="text-muted" href="http://github.com/{{ job.get('publisher') }}">{{ job.get('publisher') }}</a></h6></div>
                <div class="col-sm-6 p-0">
                    <h6 class="text-sm-right font-italic">Publish date: <span class="text-muted">{{ job.get('publish_date') }}</span></h6>
                </div>
            </div>
            <div class="row tag-list inline-block mt-4 mb-2">
                {% if job.get('tags') %}
                    {% for tag_name in job.get('tags').split(",") %}
                        <a class="tag m-1" href="/tags/{{ tag_name.lower() }}"><span>{{ tag_name }}</span></a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block pagination %}
<div class="col-12 mt-3 text-center">
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if current_page <= 1%} disabled {% endif %}">
                <a class="page-link" href="/jobs?page={{ current_page - 1 }}"><span>Previous</span></a>
          </li>
          {% if current_page > 0 %}
            {% for page_number in pagination_range(current_page, num_of_page, num_of_button) %}
                {% if page_number == current_page %}
                    <li class="page-item active"><a class="page-link" href="/jobs?page={{ page_number }}" >{{ page_number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/jobs?page={{ page_number }}" >{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
          {% endif %}
          <li class="page-item {% if current_page >= num_of_page %} disabled {% endif %}">
            <a class="page-link" href="/jobs?page={{ current_page + 1 }}">Next</a>
          </li>
        </ul>
    </nav>
</div>
{% endblock pagination %}